.carrito {
    width: 100vw;
    height: 100vh;
    background-color: #002;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

.videoCarritoContainer {
    width: 100%;
    min-height: 100%;
    position: fixed;
    overflow: hidden;
}

.videoCarritoContainer video {
    opacity: .7;
    object-fit: contain;
    position: relative;
    min-height: 100vh;
}

.carritoTitle {
    position: absolute;
    left: 47%;
    transform: translateX(-50%);
    top: 20%;
    font-family: poppins;
}

.carritoTitle h2 {
    text-align: center;
}

.titleQuantity {
    position: absolute;
    top: 0;
    left: 108%;
}

.boxName {
    position: relative;
}

.pizzaBox {
    width: 50vw;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0%;
    font-family: montserrat;
    background: rgba(255, 255, 255, .4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 10px 30px;
    border-radius: 20px;
}

.boxCantidad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2px;
    width: 5em;
    position: relative;
}


.iconOperatorBox {
    background: #000;
    width: 1m;
    height: 1m;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carrito .pizzaBox .pizzaName,
.carrito .pizzaBox .cantidad {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 3%;
}

.carrito .pizzaBox .pizzaName {
    align-items: flex-start;
    font-size: 1em;
    color: #000;
    font-weight: 600;
    font-family: montserrat;
}

.carritoButtons {

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carritoButtons button {
    cursor: pointer;
    height: 2em;
    background: rgba(0, 0, 0, .5);
    border: 1px solid #fff;
    outline: none;
    min-width: 4em;
    padding: 0 5px;
    color: #fff;
    transition: .5s;

}

.carritoButtons button:hover {
    background: rgba(255, 255, 255, .4);
    backdrop-filter: blur(15px);
    color: #000;
    border: none;
}

.solo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 7em;
}

.leftFading {
    animation: movingLeft 1s ease-out forwards;
    transition: .5s;
}

.zeroPizzas {
    animation: fadingBox 1s linear forwards;
    transition: .5s;
    opacity: 1;
}

.boxCantidad {
    font-size: 1.2em;
}

.boxCantidad p {
    font-family: montserrat;
    color: #000;
    font-weight: 600;
}

.menos {
    background: rgba(173, 24, 24, .4);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 50%;
}

.menos:hover {
    box-shadow: 0 0 5px rgba(173, 24, 24, .8), 5px 5px 25px rgba(173, 24, 24, .8),
    25px 25px 100px rgba(173, 24, 24, .8);
}

.mas {
    background: rgba(20, 20, 204, .4);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 50%;
}

.mas:hover {
    box-shadow: 0 0 5px rgba(20, 20, 204, .8), 5px 5px 25px rgba(20, 20, 204, .8),
    25px 25px 100px rgba(20, 20, 204, .4) ;
}

@keyframes fadingBox {
    0% {
        opacity: 1;
    }

    97% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes movingLeft {
    0% {
        left: 0;
    }

    95% {
        left: -190%;

    }

    100%{
        left: -500%;
        display: none;
    }
}


.rightFading {
    position: relative;
    animation: movingRight 1s ease-out forwards;
    transition: .5s;
}

@keyframes movingRight {
    0% {
        left: 0;
    }

    95% {
        left: 300%;
    }

    100% {
        left: 500%;
        display: none;
    }
}

@media(max-width: 600px) {
  .pizzaBox {
    width: 80vw;
  }

  .carritoButtons {
    width: 80vw;
    justify-content: space-around;
  }

}

@media(max-width: 450px) {
    .pizzaBox {
        font-size: .9em;
        width: 95vw;
    }
}