.carrito {
    width: 100vw;
    height: 100vh;
    background-color: #002;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

.carrito h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    font-family: poppins;
}

.boxName {
    position: relative;
}

.pizzaBox {
    width: 50vw;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0%;
    font-family: montserrat;
}

.carrito .pizzaBox .pizzaName,
.carrito .pizzaBox .cantidad {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 3%;
}

.carrito .pizzaBox .pizzaName {
    align-items: flex-start;
}

.carritoButtons {

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carritoButtons button {
    cursor: pointer;
    height: 2em;
    background: rgba(0, 0, 0, .5);
    border: 1px solid #fff;
    outline: none;
    min-width: 4em;
    padding: 0 5px;
    color: #fff;
    transition: .5s;

}

.carritoButtons button:hover {
    background: rgba(255, 255, 255, .4);
    backdrop-filter: blur(15px);
    color: #000;
    border: none;
}

.solo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 7em;
}

.leftFading {
    animation: movingLeft 1s ease-out forwards;
    transition: .5s;
}

.zeroPizzas {
    animation: fadingBox 1s linear forwards;
    transition: .5s;
    opacity: 1;
}

@keyframes fadingBox {
    0% {
        opacity: 1;
    }

    97% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes movingLeft {
    0% {
        left: 0;
    }

    100% {
        left: -200%;
    }
}


.rightFading {
    position: relative;
    animation: movingRight 1s ease-out forwards;
    transition: .5s;
}

@keyframes movingRight {
    0% {
        left: 0;
    }

    100% {
        left: 200%;
    }
}